/* msm8953 */
/ {
        firmware: firmware {
                android {
			/delete-node/ fstab;
                        /delete-node/ vbmeta;
                };
        };
};

#include "daikura.dtsi"