#include "android.dtsi"
#include "ramoops.dtsi"
#include "soc.dtsi"
#include "cpu.dtsi"
#include "audio.dtsi"
#include "haptic.dtsi"
#include "display.dtsi"
#include "regulator.dtsi"
#include "leds.dtsi"