source "techpack/xiaomi-titanium/pmic/Kconfig"
source "techpack/xiaomi-titanium/power_supply/Kconfig"
source "techpack/xiaomi-titanium/touchscreen/Kconfig"
source "techpack/xiaomi-titanium/ir/Kconfig"
source "techpack/xiaomi-titanium/leds/Kconfig"
source "techpack/xiaomi-titanium/fingerprint/Kconfig"
source "techpack/xiaomi-titanium/vibrator/Kconfig"
