/{
	mtp_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <15>;
        	#include "../common/batterydata/batterydata-coslight-3000mah.dtsi"
        	#include "../common/batterydata/batterydata-sunwoda-3000mah.dtsi"
        	#include "../common/batterydata/batterydata-share-3000mah.dtsi"
	};
};