config LEDS_QPNP
	tristate "Support for QPNP LEDs"
	depends on LEDS_CLASS && SPMI
	help
	  This driver supports the LED functionality of Qualcomm Technologies,
	  Inc. QPNP PMICs.  It primarily supports controlling tri-color RGB
	  LEDs in both PWM and light pattern generator (LPG) modes.  For older
	  PMICs, it also supports WLEDs and flash LEDs.

config LEDS_QPNP_WLED
	tristate "Support for QPNP WLED"
	depends on LEDS_CLASS && MFD_SPMI_PMIC
	help
	  This driver supports the WLED (White LED) functionality of Qualcomm
	  Technologies, Inc. QPNP PMICs.  WLED is used for LCD backlight with
	  variable brightness.  It also supports outputting the Avdd supply for
	  AMOLED displays.

config QPNP_COINCELL
	tristate "QPNP coincell charger support"
	depends on SPMI
	help
	  This driver supports the QPNP coincell peripheral found inside of
	  Qualcomm Technologies, Inc. QPNP PMIC devices.  The coincell charger
	  provides a means to charge a coincell battery or backup capacitor
	  which is used to maintain PMIC register state when the main battery is
	  removed from the mobile device.