config SPI_PEELIR
	tristate "PEELIR"

	---help---
	   Enable this option if you use peelir.

config IR_PWM_MI8953
	tristate "PWM IR remote control"
	depends on RC_CORE
	---help---
	   Say Y if you want to use PWM based IR.

	   To compile this driver as a module, choose M here: the module will
	   be called pwm-ir.
